.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.error {
  color: red;
}

.content--image {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .6);
  margin-bottom: 2rem;
  border-radius: 3px;
}

.content--image:hover {
  transform: translateX(1rem) scale(1.1);
  filter: brightness(60%);
  transition: all .3s;
}

